<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/dark.css">
    <link rel="shortcut icon" href="static/logo.ico" type="image/x-icon">

    <title>Molozi Code</title>
</head>

<body>


    <section id="geral">

        <!--Parte de cima-->
        <section class="part-1">
            <!--ELEMENTOS TOPO-->

            <img src="static/molozi.png" alt="logo">

            <h2>Molozi Code</h2>

            <p class="insta"> <a target="_blank"
                    href="https://www.instagram.com/molozicodeoficial/">@molozicodeoficial</a> </p>

            <p>👨‍💻 Formação de DEVS. | 🔱 Projetos no link abaixo.</p>

            </div>

            <!--ELEMENTOS TOPO-->

        </section>
        <!--Parte de cima-->

        <!--Parte de baixo-->
        <section class="part-2">
            <!--LINKS-->
            <div class="link">

                <a onclick="alerta1()" href="">E-BOOK CARREIRA DEV</a>

                <a onclick="alerta1()" href="">E-BOOK PROJETOS PRONTOS</a>

                <a href="https://wa.me/5549999715528?text=Ol%C3%A1%2C%20gostaria%20de%20saber%20mais%20sobre%20o%20E-book%20CARREIRA%20DEV!">CONTATO</a>

                <a onclick="alerta()" href="">EM BREVE...</a>

                <a onclick="alerta()" href="">EM BREVE...</a>

            </div>
            <!--LINKS-->

        </section>
        <!--Parte de baixo-->

    </section>

    <script src="static/app.js"></script>

</body>

</html>